*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: antiquewhite;
}
.wrapper{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
.m{
    margin-top: 50px;
    margin-bottom: 50px;
}
input{
    border: 6px solid black;
    outline: 1px solid gold;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
}
.no-outline:focus {
    outline: none;
  }
  .btn{
    padding: 10px 15px;
    border: 1px solid gold;
    border-radius: 10px;
    background-color: black;
    margin-left: 10px;
    font-size: 1.1rem;
    color: white;
}
.btn:hover{
    transform: scale(1.1);
    transition: ease 500ms;
}    
 #result{
    margin-top: 15px;
}  
#random_name{
   margin-top: 15px;
}   
#sum{
   margin-top: 15px;
}